# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Django
db.sqlite3
*.sqlite3
/media/
/staticfiles/

# Virtual Environments
emsenv/
venv/
.venv/
env/
.env/

# VSCode
.vscode/

# PyCharm
.idea/

# Docker
*.dockerfile
